.product-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr); // По умолчанию 5 колонок для больших экранов
    margin-top: 15px;
    padding-inline: 25px;
  
    // Медиа-запросы для различных размеров экрана
    @media (max-width: 1200px) { // Для экранов меньше или равно 1200px
      grid-template-columns: repeat(4, 1fr); // 4 колонки
    }
  
    @media (max-width: 992px) { // Для экранов меньше или равно 992px
      grid-template-columns: repeat(3, 1fr); // 3 колонки
    }
  
    @media (max-width: 768px) { // Для экранов меньше или равно 768px
      grid-template-columns: repeat(2, 1fr); // 2 колонки
    }
  
    @media (max-width: 576px) { // Для экранов меньше или равно 576px
      grid-template-columns: repeat(1, 1fr); // 1 колонка
    }
}